<!-- <h1>hello {{title}}</h1>
<p>{{username}}</p>

{{showMessage(["title"]) }}
<button (click)="click1()">click</button> -->

<!-- ----------------------------------------------------- -->

<!-- {{age}}
<button (click)="changeAge()">Change Age</button> -->

<!-- ----------------------------------------------------- -->

<!-- <h1 [ngClass]="counter > 0 ? 'correct' : counter < 0 ? 'incorrect' : 'default' "> {{ counter }} </h1>

<button (click)="changeNumber('INC')">+</button>
<button (click)="changeNumber('DEC')">-</button>
<button (click)="changeNumber('RESET')">=0</button> -->

<!-- ----------------------------------------------------- -->

<input [(ngModel)] = "todo" name="todo" placeholder="todo...">
<button (click)="addTodo()">Add todo</button>

<div *ngFor="let todo of todos">
  <h3>{{todo.content}}</h3>
  <button (click) = "update(todo.id)">Update</button>
  <button (click) = "delete(todo.id)">Delete</button>
</div>